.dashboard-btn {
  background-color: transparent;
  border-width: 0px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.dashboard-btn1 {
  margin-left: 50px;
}
.dashboard-icon {
  margin-right: 10px;
  width: 28px;
  height: 28px;
}
.buttons-container {
  margin-top: 19px;
  list-style-type: none;
}
.active-btn {
  background-color: #ffffff;
  width: 100%;
}

.active-color-btn {
  color: orange;
}

.list-style {
  margin-top: 40px;
  margin-left: 20px;
  height: 40px;
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
}
.sidebar {
  width: 230px;
  padding: 20px;
  background-color: #3cb371;
  font-family: 'Roboto';
  font-size: 20px;
  flex-shrink: 0;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
