.left-nav {
  width: 60px;
  background-color: #ffffff;
  height: 100vh;
}
.icons {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3rem;
  transition: 0.3s ease;
  z-index: 30;
  margin-top: 50px;
}
.icon1 {
  color: #0056b3;
  text-decoration: underline;
}
.icon2 {
  width: 20px;
  height: 20px;
  color: gray;
}
.btn {
  background-color: transparent;
  border-width: 0px;
  border-radius: 20px;
  width: 130px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
}
.activeBtn {
  background-color: #3cb371;
  color: #ffffff;
}
